<menu class="social-media-share">
    <a href="https://twitter.com/jravinder" class="icon-twitter" rel="external" title="My Twitter"></a>
    <a href="https://www.linkedin.com/in/jravinder" class="icon-linkedin" rel="external" title="My LinkedIn"></a>
    <a href="http://github.com/jravinder" class="icon-github" rel="external" title="My GitHub"></a>
</menu>